{% extends "base.html" %}

{% block content %}
    <h1>Add A Blog Entry</h1>
        <form method='post'>
            <label>
                Title for new blog:
                <p><input type="text" name='blog.title' value='{{b_title}}' /></p>
                    <p class="error">{{title_error}}</p>
            </label>

            <label>
                Enter new blog:
                <p><textarea type="text" name='blog.body'>{{b_body}}</textarea></p>
                <p class="error">{{blog_error}}</p>
            </label>
            <input type="submit" value='Add Entry' />
        </form>
          

        

    
    


{% endblock %}